.box {
  border: 1px solid black;
  width: 600px;
  height: 550px;
  text-align: center;
}

.image {
  width: 400px;
  height: 350px;
}

.main {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.button {
  text-align: center;
  padding-top: 20px;
}

.win {
  border: 10px solid red;
  color: red;
}
.lose {
  border: 10px solid blue;
  color: blue;
}

.tie {
  border: 10px solid green;
  color: green;
}
